html{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    text-align: center;
    line-height: 100px;
}
.contain{
    text-align: center;
    background-image: url('./img/z5267640891954_a107c28480f045783840fea36d2fb3b3.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 1700px;
    height: 1500px;
    padding: 0;
    margin: 0;
}
.live{
  text-align: center;
  padding: 370px 0px;
}
.live h2{
  
    padding: 10px 20px;
    /* margin: 10px 20px; */
    color: red;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* font: 36px; */
}
.live h3{
    padding:5px 5px;
    padding-bottom: 10px;
    font-size: 16px;
}
.inputTwo{
    display: flex;
    align-items: center;
    justify-content: center;

}
.inputTwo label {
    font-size: 26px;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
 }
 #sdt,#born{
     outline: none;
     padding: 8px 24px;
     border: none;
     border-radius: 15px;
     width: 350px;
     font-size: 42px;
     color: red;
     font-weight: bold;
     text-align: center;
     margin: 10px 30px;
 }
 #born{
     width: 250px;
    height: 60px;
 }
 #sdt{
     width: 560px;
     height: 60px;
 }
 .button{
    outline: none;
    background-color: red;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 20px 20px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.button:hover{
     background-color: rgba(255, 0, 0, 0.6);
}
.showOne{
    display: flex;
    justify-content: center;
    text-align: center;
}
.tuoi,.van,.dich,.ynss,.ynds,.snv,.tv,.trv,.hv{
    margin: 5px 20px;
    background-color: antiquewhite;
    border: 1px solid orange;
    border-radius:12px;
    text-align: center;
    color: red;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    height: 100px;

}
.dich{
    width: 28%;
    font-size: 28px;
}
.tuoi{
    width: 10%;
    font-size: 28px;
}
.van{
  width: 20%;
  font-size: 28px;
}
.showTwo{
    display: flex;
    justify-content: center;
    margin: 10px 20px;
    text-align: center;
  }
  .ynss{
    width: 42%;
}
.ynss,.ynds{
    height: 100px;
   /* padding: 15px; */
   text-align: center;
   font-size: 30px;
}
.ynds{
   width: 20%;
}
.showThree{
    display: flex;
    justify-content: center;
 }
 .showThree>div{
    background-color: antiquewhite;
    text-align: center;
    padding: 32px 24px;
    border: 1px solid orange;
    margin: 5px 20px;
    border-radius: 5px ;
    width: 14%;
    font-weight: bold;
    color: red;
    font-size: 24px;
}
.showfor{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.snv,.tv,.trv,.hv{
    width: 14.5%;
    display: flex;
    align-content: center;
    text-align: center;
}
.snv{
  display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px 19px;
}
span{
   align-content: center;
}
#customer {
    color: rgb(0, 0, 128);
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    height: 100%;
    scrollbar-width: thin;
  }
  
  #customer td, #customer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customer tr:nth-child(even){background-color: #f2f2f2;}
  
  #customer tr:hover {background-color: #ddd;}
  
  #customer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #customer th{
    text-align: center;
  }
  .title {
    color: #5f27cd; /* Màu ban đầu */
  }
  #vanmenh{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
  }
  #customerse-tienvan{
    color: rgb(0, 0, 128);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
  }
  #customerse-tienvan td, #customerse-tienvan th , #customerse-bc td, #customerse-bc th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customerse-tienvan tr:nth-child(even){background-color: #f2f2f2;}
  
  #customerse-tienvan tr:hover {background-color: #ddd;}
  
  #customerse-tienvan th , #customerse-bc th{
    padding: 12px 24px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #customerse-tienvan th , #customerse-bc th{
    text-align: center;
  }

  #customerse-trungvan{
    color: rgb(0, 0, 128);
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
    margin: 50px 0px;
  }
  #customerse-trungvan td, #customerse-trungvan th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customerse-trungvan tr:nth-child(even){background-color: #f2f2f2;}
  
  #customerse-trungvan tr:hover {background-color: #ddd;}
  
  #customerse-trungvan th {
    padding: 12px 24px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #customerse-trungvan th{
    text-align: center;
  }

  #customerse-hauvan{
    color: rgb(0, 0, 128);
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
  }
  #customerse-hauvan td, #customerse-hauvan th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #customerse-trungvan td , #customerse-tienvan td ,#customerse-hauvan td
  {
      font-size: 13.5px;
      color: black;
  }
  #customerse-hauvan tr:nth-child(even){background-color: #f2f2f2;}
  
  #customerse-hauvan tr:hover {background-color: #ddd;}
  
  #customerse-hauvan th {
    padding: 12px 24px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #customerse-hauvan th{
    text-align: center;
  }
  #tienvan,#trungvan,#hauvan{
      width: 80%;
  }
  .tv {
    /* Điều chỉnh kích thước theo mong muốn */

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổ bóng */
    margin: 10px 19px;
  }
  
  .tv p {
    margin: 0;

  }
  .trv {
     
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổ bóng */
    margin: 10px 12px;
  }
  
  .trv p {
    margin: 0;

  }
  .hv {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổ bóng */
    margin: 10px 10px;
  }
  
  .hv p {
    margin: 0;

  }
         /* .hed{
          display:  flex;
          justify-content: space-around;
         } */
         #customerse-bangc{
          margin-top: 30px;
color: rgb(0, 0, 128);
text-align: center;
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 80%;
height: 100%;
scrollbar-width: thin;
}
#customerse-bangc td, #customerse-bangc th {
border: 1px solid #ddd;
padding: 8px;
}

#customerse-bangc tr:nth-child(even){background-color: #f2f2f2;}

#customerse-bangc tr:hover {background-color: #ddd;}

#customerse-bangc th {
padding: 12px 24px;
text-align: left;
background-color: #04AA6D;
color: white;
}
#customerse-bangc th{
text-align: center;
}
#bangcuoi{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 200px;
}
#customerse-dayso th{
padding: 12px 24px;
width: 250px;
background-color: #04AA6D;
color: white;
border: 1px solid #ddd;
text-align: center;
}
#customerse-dayso tr,td{
color:  rgb(0, 0, 128);
text-align: center;
}

#customerse-bc{
color: rgb(0, 0, 128);
text-align: center;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 80%;
height: 100%;
scrollbar-width: thin;
margin: 50px 0px;
}
.nguhanh{
display: flex;
justify-content: center;
}

#nguhanhtb {
border-collapse: collapse;
width: 80%;
}
thead{
background-color: #04AA6D;
color: white;
padding: 8px 12px;
}
th, td {
padding: 13px 12px;
text-align: center;
border-bottom: 1px solid #ddd;
border: 1px solid #ddd;
}

tr:hover {background-color: coral;}
.dulieu{
display: flex;
justify-content: center;
margin: 14px;
}
#namsinh{
outline: none;
padding : 20px 30px;
width: 300px;
border: none;
border-radius: 14px;
font-size: 30px;
font-weight: 800;
color: #989ea4;
background-color: none;
text-align: center;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.prev{
     position: fixed;
     top: 20px;
     left: 20px;
}
.buttonn {  display: inline-block;  padding: 15px 25px;  font-size: 24px;  cursor: pointer;  text-align: center;  text-decoration: none;  outline: none;  color: #fff;  background-color: #4cd137;  border: none;  border-radius: 15px;  box-shadow: 0 9px wheat;}.button:hover {background-color: #58257b}.button:active {  background-color: #58257b;  box-shadow: 0 5px #666;  transform: translateY(4px);}
